@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000; }

#wrapper {
  position: relative;
  width: 100%;
  height: 100%; }
  #wrapper #imgWrap li {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; }
    #wrapper #imgWrap li img {
      opacity: 0; }
    #wrapper #imgWrap li span {
      opacity: 0;
      width: 95px;
      height: 25px;
      color: #fff;
      font-weight: bold;
      text-align: center;
      line-height: 25px;
      border: 1px solid #fff;
      position: absolute;
      left: 50%;
      margin-left: -48px;
      font-size: 12px;
      font-family: "微软雅黑"; }
  #wrapper #imgWrap li:nth-child(1) {
    background: url(../img/bg_shoulei.jpg) center;
    background-size: cover; }
  #wrapper #imgWrap li:nth-child(1) img {
    position: absolute;
    left: 50%;
    top: 75px;
    margin-left: -137px; }
  #wrapper #imgWrap li:nth-child(1) span {
    top: 193px;
    color: #000;
    border: 1px solid #000; }
  #wrapper #imgWrap li:nth-child(2) {
    background: url(../img/bg_xnet.jpg) center;
    background-size: cover; }
  #wrapper #imgWrap li:nth-child(2) img {
    position: absolute;
    left: 50%;
    top: 136px;
    margin-left: -22px; }
  #wrapper #imgWrap li:nth-child(2) span {
    top: 448px; }
  #wrapper #imgWrap li:nth-child(3) {
    background: url(../img/bg_member.jpg) center;
    background-size: cover; }
  #wrapper #imgWrap li:nth-child(3) img {
    position: absolute;
    left: 50%;
    top: 121px;
    margin-left: -147px; }
  #wrapper #imgWrap li:nth-child(3) span {
    top: 215px; }
  #wrapper #imgWrap li:nth-child(4) {
    background: url(../img/bg_xav.jpg) center;
    background-size: cover; }
  #wrapper #imgWrap li:nth-child(4) img {
    position: absolute;
    left: 50%;
    top: 74px;
    margin-left: -164px; }
  #wrapper #imgWrap li:nth-child(4) span {
    top: 155px; }

#wrapper #more {
  width: 136px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  text-indent: 70px;
  font-weight: normal;
  font-family: "微软雅黑";
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 2;
  border: 2px solid rgba(255, 255, 255, 0);
  cursor: pointer;
  background: url(../img/ico_01.png) no-repeat 34px 9px; }
  #wrapper #more:hover {
    border: 2px solid rgba(255, 255, 255, 0.5); }

#wrapper #nav {
  width: 162px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  right: -162px;
  top: 0; }
  #wrapper #nav ul {
    padding-top: 102px; }
    #wrapper #nav ul li {
      width: 162px;
      height: 70px;
      font-family: "微软雅黑";
      color: #fff;
      font-size: 18px;
      text-align: center;
      line-height: 24px; }
  #wrapper #nav span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #4edcff;
    position: absolute;
    left: 18px;
    top: 108px;
    display: none; }

#wrapper .footer {
  position: absolute;
  bottom: -90px;
  text-align: center;
  width: 100%; }
  #wrapper .footer #btn {
    width: 260px;
    height: 44px;
    position: relative;
    margin: 0 auto 25px auto;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2); }
    #wrapper .footer #btn li {
      width: 45px;
      height: 44px;
      float: left;
      display: inline-block;
      margin: 0 10px;
      cursor: pointer; }
    #wrapper .footer #btn li:nth-child(1) {
      background: url(../img/ic_spr.png) 0 0; }
    #wrapper .footer #btn li:nth-child(1):hover, #wrapper .footer #btn li:nth-child(1).active {
      background: url(../img/ic_spr.png) 0 -69px; }
    #wrapper .footer #btn li:nth-child(2) {
      background: url(../img/ic_spr.png) -67px 0; }
    #wrapper .footer #btn li:nth-child(2):hover, #wrapper .footer #btn li:nth-child(2).active {
      background: url(../img/ic_spr.png) -67px -69px; }
    #wrapper .footer #btn li:nth-child(3) {
      background: url(../img/ic_spr.png) -143px 0; }
    #wrapper .footer #btn li:nth-child(3):hover, #wrapper .footer #btn li:nth-child(3).active {
      background: url(../img/ic_spr.png) -143px -69px; }
    #wrapper .footer #btn li:nth-child(4) {
      background: url(../img/ic_spr.png) -259px 0; }
    #wrapper .footer #btn li:nth-child(4):hover, #wrapper .footer #btn li:nth-child(4).active {
      background: url(../img/ic_spr.png) -259px -69px; }
    #wrapper .footer #btn span {
      display: inline-block;
      width: 65px;
      height: 3px;
      overflow: hidden;
      background: #fff;
      position: absolute;
      left: 0;
      bottom: -3px; }
  #wrapper .footer .message p {
    color: #b2b2b2;
    font: 12px/24px "宋体"; }
  #wrapper .footer .message a {
    color: #b2b2b2;
    text-decoration: none; }
  #wrapper .footer .safe_links a {
    display: inline-block;
    width: 67px;
    height: 28px;
    position: relative;
    color: #b2b2b2;
    margin: 0 7px;
    padding: 5px 0 5px 40px;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid #ccc; }
  #wrapper .footer .safe_links a img {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 38px; }
